In [1]:
import pandas as pd
import numpy as np

In [8]:
df_limpieza = pd.read_csv('../documentos/Limpieza_100.csv', sep=';')
df_limpieza

    month  day  year  plot_id species_id sex  hindfoot_length  weight
0       8   19  1977        3         DM   M             35.0    40.0
1       8   19  1977        7         DM   M             37.0    48.0
2       8   19  1977        4         DM   F             34.0    29.0
3       8   19  1977        4         DM   F             35.0    46.0
4       8   19  1977        7         DM   M             35.0    36.0
..    ...  ...   ...      ...        ...  ..              ...     ...
95      1   12  1983       12         DM   M             35.0    44.0
96      1   12  1983       20         RM   F             16.0     8.0
97      1   12  1983       13         DS   M             49.0   125.0
98      1   12  1983       14         DM   M             35.0    40.0
99      1   12  1983       24         DM   M             37.0    42.0

[100 rows x 8 columns]

In [ ]:
# Interpolación
df_limpieza['weight'] = df_limpieza['weight'].interpolate()

In [7]:
# Extracción de nulos
df_limp_null = df_limpieza[df_limpieza.isnull().any(axis=1)]
df_limp_null

    month  day  year  plot_id species_id  sex  hindfoot_length  weight
9       8   19  1977        2         NL    M             31.0     NaN
10      8   19  1977        3         DS    F             44.0     NaN
13      8   19  1977        9         DS    F             47.0     NaN
14      8   19  1977        4         SS  NaN              NaN     NaN
17      8   19  1977        1         DS    M             48.0     NaN
28      8   20  1977       11         DS    F             50.0     NaN
30      8   20  1977       18         DM  NaN              NaN    42.0
37      8   20  1977        5         DS    F             54.0     NaN
41      8   20  1977       11         DS    M             43.0     NaN
43      8   20  1977       12         NL  NaN              NaN     NaN
44      8   20  1977       18         NL  NaN              NaN     NaN
45      8   20  1977       11         PP    M             21.0     NaN
47      8   20  1977       10         DS  NaN              NaN     NaN
51      8   21  1977       15         DM    F             32.0     NaN
52      8   21  1977       21         DM    M             34.0     NaN
54      8   21  1977       21         OX    F             19.0     NaN
56     12   11  1977       21         OT  NaN              NaN     NaN
58     12   11  1977       11         NL  NaN              NaN     NaN
59     12   11  1977        8         DS    F              NaN   120.0
61     12   11  1977        3         OT  NaN              NaN     NaN
69     12   11  1977       14         NL  NaN              NaN     NaN
72     12   11  1977       11         OT  NaN              NaN     NaN
77     12   11  1977        4         OT  NaN              NaN     NaN
78     12   11  1977       17         NL  NaN              NaN     NaN
80     12   11  1977        5         OT  NaN              NaN     NaN
83     12   11  1977       21         OT  NaN              NaN     NaN
86      1   12  1983       19         AB  NaN              NaN     NaN
90      1   12  1983       11         PC  NaN              NaN     NaN
91      1   12  1983       20         AB  NaN              NaN     NaN

In [10]:
# Extracción de los no nulos
df_limpios = df_limpieza[df_limpieza.notnull().all(axis=1)]
df_limpios.sample(10)

    month  day  year  plot_id species_id sex  hindfoot_length  weight
20      8   20  1977        6         DM   F             37.0    37.0
22      8   20  1977       23         DM   F             35.0    41.0
6       8   19  1977        2         PF   M             15.0     8.0
29      8   20  1977        6         DM   M             35.0    39.0
53      8   21  1977       13         DM   F             37.0    31.0
34      8   20  1977       18         DM   M             36.0    41.0
7       8   19  1977        3         OX   F             21.0    22.0
97      1   12  1983       13         DS   M             49.0   125.0
55     12   11  1977       11         DS   F             49.0   127.0
38      8   20  1977       23         DM   M             38.0    46.0